/* reset */
*{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
    cursor: pointer;
}
body{
    background-color: rgb(3, 52, 93)
}


/* start nav bar */
nav {
    background-color: rgba(1, 3, 31, 0.514);
}
nav ul {
    margin: 0;
}
nav .nav-left .logo{
    font-size: 35px;
    padding: 4px;
    color: #fff;
    float: left;
}
nav .nav-left .login {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    float: left;
    text-decoration: none
}
nav .nav-right li a{
    float: right;
    padding: 10px;
    margin: 0 5px;
    color: #fff;
    text-decoration: none
}
nav li a:hover,
nav .active{
    background-color: rgb(3, 52, 93)
}

/* end nav bar */
/* start header */

header .header-icon{
    text-align: center
}
header .header-icon i{
    color:#fff;
    font-size: 10rem;
    padding: 100px;
}

/* end header */
/* start main section */

main .day{
    text-align: center;
    padding: 40px 20px;
    border: 1px dotted rgba(255, 255, 255, 0.479);
    color: #fff
}
main .day img{
    width: 64px;
}

/* end main section */
/* start footer */

footer{
    background-color: rgba(1, 3, 31, 0.514);
    color: #fff;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px
}
/* start footer */